04_INFRAESTRUCTURA_TECNICA/Sistema_n8n/exports/_backups/W1_pre_tune_2026-05-16T20-44-22-048Z.json
{
  "updatedAt": "2026-05-16T20:41:57.111Z",
  "createdAt": "2026-05-12T12:46:17.373Z",
  "id": "aUMQyupnGJ5IWm5e",
  "name": "Bochile - Chatbot Multi-Agente CORE (v4 Twilio)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bochile-chat",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "n-1",
      "name": "Webhook Twilio",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "webhookId": "bochile-twilio-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst from_raw = body.From || body.from || '';\nconst profile = body.ProfileName || body.profileName || 'Desconocido';\nconst text_body = body.Body || body.body || '';\nconst num_media = parseInt(body.NumMedia || body.numMedia || '0', 10);\nconst media_url = body.MediaUrl0 || body.mediaUrl0 || '';\nconst media_type = body.MediaContentType0 || body.mediaContentType0 || '';\n\nconst from = from_raw.replace('whatsapp:', '');\n\nlet msg_type = 'text';\nlet mensaje_original = text_body;\nif (num_media > 0 && media_url) {\n  if (media_type.startsWith('audio/')) msg_type = 'audio';\n  else if (media_type.startsWith('image/')) msg_type = 'image';\n  else { msg_type = 'document'; mensaje_original = text_body || '[adjunto recibido]'; }\n}\n\nif (!from || (!text_body && !media_url)) {\n  return [{ json: { skip: true, reason: 'payload_invalido' } }];\n}\n\nconst digits_only = from.replace(/\\D/g, '');\n\nreturn [{ json: {\n  telefono: from,\n  telefono_twilio: from,\n  nombre: profile,\n  mensaje_original: mensaje_original,\n  msg_type: msg_type,\n  media_url: media_url,\n  media_type: media_type,\n  canal: 'whatsapp_twilio',\n  lead_id: 'L-' + digits_only.slice(-10),\n  msg_id: 'M-' + Date.now(),\n  timestamp_iso: new Date().toISOString(),\n  skip: false\n}}];"
      },
      "id": "n-2",
      "name": "Parsear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.msg_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.msg_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.msg_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "imagen"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "otro"
        }
      },
      "id": "n-3",
      "name": "Switch Tipo Mensaje",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.media_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "n-4a",
      "name": "Audio - Download Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        160
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "d6HsIalxJkkphlFP",
          "name": "Twilio Basic Auth (Bochile)"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "id": "n-5a",
      "name": "Audio - Whisper",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "4mQx97qkHBIhXxu3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "mensaje",
              "value": "=[AUDIO TRANSCRIPTO] {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "n-6a",
      "name": "Audio - Set Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        208
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.media_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "n-4b",
      "name": "Imagen - Download Twilio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        352
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "d6HsIalxJkkphlFP",
          "name": "Twilio Basic Auth (Bochile)"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "text": "Sos un asistente de Inmobiliaria Bochile (Bahia Blanca). Describi BREVEMENTE (1-2 lineas) la foto: si es propiedad (casa/dpto/lote), describi caracteristicas visibles (ambientes, estilo). Si es documento o plano, mencionalo. Si NO es inmobiliario, decilo. NO inventes direcciones ni precios.",
        "inputType": "base64",
        "options": {}
      },
      "id": "n-5b",
      "name": "Imagen - Vision",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        384
      ],
      "credentials": {
        "openAiApi": {
          "id": "4mQx97qkHBIhXxu3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "mensaje",
              "value": "=[IMAGEN RECIBIDA] {{ $json.content || $json.text || $json.response }}{{ $('Parsear Mensaje').item.json.mensaje_original ? ' | Caption: ' + $('Parsear Mensaje').item.json.mensaje_original : '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "n-6b",
      "name": "Imagen - Set Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "mensaje",
              "value": "={{ $json.mensaje_original }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "n-4c",
      "name": "Texto - Set Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        608
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "n-7",
      "name": "Merge Caminos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1296,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $(\"Merge Caminos\").item.json.mensaje }}",
        "options": {
          "systemMessage": "Sos CAMILA POMERICH, vendedora real de Inmobiliaria Bochile (Bahia Blanca, desde 1970). Tu zona principal: Palihue, Villa Belgrano, Country. Hablas por WhatsApp con clientes como vendedora humana argentina (vos, tono calido directo). Hoy es martes 12/05/2026.\n\nIMPORTANTE: vos SOS la vendedora real. No derivas a otra persona. Cuando coordinas una visita es para vos misma. Hablas siempre en primera persona (\"te paso a buscar\", \"nos vemos en\", \"te llevo a ver\").\n\nOBJETIVO: CALIFICAR -> MATCHEAR -> AGENDAR VISITA. No sos un chat informativo: cerras visitas. La visita la hacés VOS.\n\n============== SUB-AGENTES (TOOLS INTERNOS - invisibles al cliente) ==============\n1. SubAgente Calificador: score 0-100 + datos. Llamar apenas tengas presupuesto + zona + tipo.\n2. SubAgente Matcher: cruza con catalogo. Llamar SOLO con operacion+tipo+zona+presupuesto.\n3. SubAgente Administrativo: escribe CRM + manda brief interno a TU PROPIO numero (recordatorio para preparar la visita). El cliente nunca lo ve.\n\n============== TRIGGERS OBLIGATORIOS ==============\nSi el cliente dice cualquiera de estas frases (o similar) -> escalar INMEDIATO a SubAgente Administrativo con orden AGENDAR:\n- \"A disposicion\", \"me acomodo\", \"cuando puedo ir/verla\"\n- \"agendame\", \"agendamela\", \"dale visita\"\n- \"si quiero ir\", \"me viene bien [dia/hora]\"\n- \"espero confirmacion\", \"sigo esperando\"\n\nPROHIBIDO responder \"te confirmo despues\", \"te aviso pronto\", \"estoy coordinando\" sin haber invocado al Admin en ese mismo turno.\n\n============== FLUJO DE VISITA ==============\n1. Cliente muestra interes -> proponele 2 OPCIONES CONCRETAS de dia/hora (martes-sabado, 10:00-12:00 o 16:00-18:00, NUNCA lunes).\n   Ej: \"Te paso 2 opciones para que te lleve yo a verla: martes 13 a las 11h o jueves 15 a las 17h. Cual te queda mejor?\"\n2. Cliente confirma una opcion -> LLAMAS SubAgente Administrativo con orden:\n   \"AGENDAR. lead_id=<L-XXX>, prop_id=<P-XXX>, cliente_nombre=<nombre>, telefono=<+54...>, direccion=<de la prop>, fecha=YYYY-MM-DD, hora=HH:MM, score=<XX>, presupuesto=<USD/ARS XXX>, zona=<XXX>, tour=<url>, observaciones=<resumen lead>\"\n3. Admin agenda, manda brief a tu numero (recordatorio), actualiza CRM. Devuelve OK.\n4. Confirmas al cliente EN PRIMERA PERSONA: \"Listo! Te confirmo: el <dia> <hora> te paso a buscar / nos vemos en <direccion>. Cualquier cambio avisame. Yo soy Camila :)\"\n\n============== REGLAS DE ORO ==============\n- HABLAS SIEMPRE EN PRIMERA PERSONA. NUNCA digas \"te visita Camila\" o \"te derivo con\". VOS sos Camila.\n- Si NO sabes fecha+hora concreta -> nunca digas \"agendado\". Proponé vos 2 opciones.\n- NUNCA inventes propiedades. Solo el Matcher las trae.\n- NUNCA prometas \"te confirmo despues\" sin agendar. Si falta info, pregunta YA.\n- Cliente dice \"no lunes\" -> registralo y proponé martes en adelante.\n- Audio/imagen: responde natural. No digas \"vi tu audio\".\n- Tema legal/escrituras/tasacion -> marcar requiere_humano=true (Admin pone nota en CRM, no agendas).\n- Cliente furioso: NO discutas, dejas constancia para humano.\n- Respuestas CORTAS (max 4 lineas WhatsApp). Una pregunta clara por vez. Sin markdown.\n- Si el cliente pregunta \"con quien hablo\" -> \"Soy Camila, vendedora de Bochile. Tengo zona Palihue / Villa Belgrano / Country.\"\n\n============== CONTEXTO MULTIMODAL ==============\nSi el mensaje empieza con \"[AUDIO TRANSCRIPTO]\" o \"[IMAGEN]\", el cliente mando voz o foto. Respondele NATURAL.\nFoto de propiedad de la competencia -> agradecele y preguntale que busca.\nFoto de propiedad Bochile -> confirma y avanza."
        }
      },
      "id": "n-11",
      "name": "Vendedor CORE",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2128,
        176
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.4
        }
      },
      "id": "n-12",
      "name": "GPT Vendedor CORE",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1504,
        752
      ],
      "credentials": {
        "openAiApi": {
          "id": "4mQx97qkHBIhXxu3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $(\"Merge Caminos\").item.json.telefono }}",
        "contextWindowLength": 20
      },
      "id": "n-13",
      "name": "Memoria Conversacion",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1648,
        720
      ]
    },
    {
      "parameters": {
        "toolDescription": "CALIFICADOR. Score 0-100 + datos. Llamar apenas tengas contexto basico.",
        "text": "={{ $fromAI(\"conversacion\", \"Resumen conversacion\", \"string\") }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "CALIFICADOR Bochile. Analiza conversacion, devolve JSON parser.\n\nSCORING:\n- 0-40 FRIO: pregunta vaga, \"solo mirando\".\n- 41-70 TIBIO: intencion clara, faltan datos.\n- 71-100 CALIENTE: presupuesto+urgencia+zona+tipo+forma_pago definidos.\n\nVALIDOS:\n- zona: Palihue|Centro|Universitario|Villa Mitre|Villa Belgrano|Patagonia|Tiro Federal|Villa Don Bosco|Almafuerte|Country\n- operacion: venta|alquiler|alquiler_temporario\n- tipo: casa|departamento|ph|lote|local|oficina\n- moneda: USD|ARS\n- urgencia: alta|media|baja\n- forma_pago: cash|credito|mixto|vende_otra\n- listo_para_visita: true SOLO si score>=70 Y zona Y presupuesto Y tipo\n\nFalta dato: null o \"\". NO inventes. Devolve EXCLUSIVAMENTE el JSON del parser."
        }
      },
      "id": "n-14",
      "name": "SubAgente Calificador",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        1856,
        608
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "n-15",
      "name": "GPT Calificador",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1824,
        880
      ],
      "credentials": {
        "openAiApi": {
          "id": "4mQx97qkHBIhXxu3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"score\":85,\"etapa\":\"Calificado IA\",\"operacion\":\"venta\",\"tipo\":\"casa\",\"zona\":\"Palihue\",\"ambientes\":4,\"presupuesto_min\":250000,\"presupuesto_max\":300000,\"moneda\":\"USD\",\"forma_pago\":\"mixto\",\"urgencia\":\"alta\",\"razon\":\"...\",\"listo_para_visita\":true,\"requiere_humano\":false}"
      },
      "id": "n-16",
      "name": "Parser Calificador",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2048,
        880
      ]
    },
    {
      "parameters": {
        "toolDescription": "MATCHER. Cruza criterios con catalogo. Hasta 3 props o SIN_STOCK. Llamar SOLO con operacion+tipo+zona+presupuesto.",
        "text": "={{ $fromAI(\"criterios\", \"JSON criterios\", \"string\") }}",
        "options": {
          "systemMessage": "Sos el sub-agente MATCHER de Bochile. Tu UNICA tarea: buscar propiedades del catalogo real usando la herramienta `search_catalog`.\n\nREGLA: cada vez que te llamen, invocas search_catalog UNA VEZ con TODOS los parametros que puedas extraer del lead:\n- query: descripcion natural en español completa (ej. \"casa familiar 3 ambientes en barrio Centro Bahia Blanca hasta 200000 USD\")\n- operation: \"sale\" para venta, \"rent\" para alquiler\n- property_type: casa, departamento, ph, duplex, lote, local, oficina, cochera, campo, galpon\n- price_max: numero entero (300000, no \"300k\")\n- price_currency: \"USD\" o \"ARS\"\n- bedrooms_min: numero entero (3 si dijo \"3 ambientes\")\n\nDESPUES de recibir resultado:\n- Si dice \"PROPIEDADES_ENCONTRADAS\": devolve al CORE las 3 mejores con formato:\n  PROP_1: prop_id | titulo | precio + moneda | barrio/zona | ambientes | m2 | URL\n  PROP_2: ...\n- Si dice \"SIN_STOCK\": devolve \"SIN_STOCK + <criterios>\" al CORE para que active match_pendiente.\n- NUNCA inventes propiedades. NUNCA modifiques datos. NUNCA respondas sin haber llamado a search_catalog."
        }
      },
      "id": "n-17",
      "name": "SubAgente Matcher",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        2176,
        784
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "id": "n-18",
      "name": "GPT Matcher",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2176,
        1040
      ],
      "credentials": {
        "openAiApi": {
          "id": "4mQx97qkHBIhXxu3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "id": "n-19",
      "name": "Buscar Propiedades en Catalogo",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2368,
        608
      ],
      "parameters": {
        "name": "search_catalog",
        "description": "Busca propiedades en el catalogo real de Bochile (Qdrant + filtros estrictos). Devuelve hasta 5 propiedades que cumplen TODOS los filtros, o SIN_STOCK. NUNCA inventa.",
        "workflowId": {
          "__rl": true,
          "value": "6Dk2umeJDNViv9yb",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $fromAI('query', 'Descripcion natural en español de lo que busca el lead, ej: casa familiar 3 ambientes en Palihue con quincho hasta 300 mil USD', 'string') }}",
            "operation": "={{ $fromAI('operation', 'sale o rent. sale para venta, rent para alquiler. Vacio si no se sabe', 'string') }}",
            "property_type": "={{ $fromAI('property_type', 'casa, departamento, ph, duplex, lote, local, oficina, cochera, campo o galpon. Vacio si no se sabe', 'string') }}",
            "price_max": "={{ $fromAI('price_max', 'Presupuesto maximo numero entero. Si dijo 300k poner 300000', 'number') }}",
            "price_currency": "={{ $fromAI('price_currency', 'USD o ARS. Default USD para venta', 'string') }}",
            "bedrooms_min": "={{ $fromAI('bedrooms_min', 'Cantidad minima de ambientes', 'number') }}"
          },
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "type": "string"
            },
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "type": "string"
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "type": "string"
            },
            {
              "id": "price_max",
              "displayName": "price_max",
              "required": false,
              "type": "number"
            },
            {
              "id": "price_currency",
              "displayName": "price_currency",
              "required": false,
              "type": "string"
            },
            {
              "id": "bedrooms_min",
              "displayName": "bedrooms_min",
              "required": false,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "ADMIN. Escribe CRM, notifica vendedor. AGENDAR / GUARDAR match / ACTUALIZAR lead.",
        "text": "={{ $fromAI(\"orden\", \"Que hacer + datos\", \"string\") }}",
        "options": {
          "systemMessage": "ADMIN Bochile. Brazo operativo de Camila Pomerich. Unico que escribe CRM y manda brief a Camila al WhatsApp.\n\nA) AGENDAR (cuando Camila confirma visita con cliente):\n1. 'Leer Vendedores Activos' -> SIEMPRE elegir a \"Camila Pomerich\" (vendedor_id=E-1B). Si la lista la trae con otro nombre, igual usa E-1B Camila Pomerich.\n2. 'Crear Visita en CRM' con vendedor_id='E-1B' vendedor_nombre='Camila Pomerich'.\n3. 'Avisar Vendedor por WhatsApp Twilio' con mensaje EXACTO formato (es el BRIEF interno para que Camila tenga el lead a mano):\n   \"BRIEF VISITA. Cliente: [NOMBRE] (tel +54...). Dia: [DD/MM] [HH:MM]. Direccion: [DIRECCION]. Prop: [P-XXX]. Score: XX. Presupuesto: USD/ARS XXX. Zona: XXX. Tour: <url>. Notas: ...\"\n   SIEMPRE incluir tel cliente +54XXXXXXXXXXX para que pueda contactarlo si hace falta.\n4. 'Actualizar Lead CRM' etapa='Visita agendada' vendedor_asignado='E-1B'.\n\nB) GUARDAR MATCH PENDIENTE: 'Guardar Match Pendiente' + 'Actualizar Lead CRM' etapa='En espera de stock'.\nC) ACTUALIZAR LEAD: 'Actualizar Lead CRM'.\n\nREGLAS:\n- NUNCA agendes sin fecha+hora confirmadas.\n- WhatsApp: telefonos con prefijo +54 (sin 'whatsapp:').\n- requiere_humano=true -> update CRM con nota, no avisar.\n\nDevolve resumen plano."
        }
      },
      "id": "n-20",
      "name": "SubAgente Administrativo",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        2576,
        288
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "id": "n-21",
      "name": "GPT Admin",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2448,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "4mQx97qkHBIhXxu3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "VENDEDORES. Devuelve todos los empleados activos.",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "empleados"
        },
        "options": {}
      },
      "id": "n-22",
      "name": "Leer Vendedores Activos",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2544,
        736
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9NvEcPkNdH6i0j3L",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "CREAR VISITA. Insertar nueva visita agendada en la tabla visitas.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "visitas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "visita_id": "={{ \"V-\" + $now.toMillis() }}",
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', 'L-XXX', 'string') }}",
            "prop_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prop_id', 'P-XXX', 'string') }}",
            "vendedor_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vendedor_id', 'E-X', 'string') }}",
            "vendedor_nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vendedor_nombre', 'nombre', 'string') }}",
            "cliente_nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cliente_nombre', 'nombre', 'string') }}",
            "direccion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('direccion', 'dir', 'string') }}",
            "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', 'YYYY-MM-DD', 'string') }}",
            "hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', 'HH:MM', 'string') }}",
            "estado": "agendada",
            "confirmada_cliente": "={{ true }}",
            "notificada_vendedor": "={{ true }}",
            "recordatorio_enviado": "={{ false }}",
            "observaciones": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observaciones', 'notas', 'string') }}",
            "creada_en": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "n-23",
      "name": "Crear Visita en CRM",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2704,
        848
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9NvEcPkNdH6i0j3L",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "GUARDAR MATCH. Insertar match pendiente cuando no hay stock para el lead.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "matches_pendientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "match_id": "={{ \"MP-\" + $now.toMillis() }}",
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', 'L-XXX', 'string') }}",
            "lead_nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_nombre', 'nombre', 'string') }}",
            "lead_telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_telefono', '+54...', 'string') }}",
            "criterios_json": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('criterios_json', 'JSON criterios', 'string') }}",
            "creado_en": "={{ $now.toISO() }}",
            "estado": "activo",
            "props_ofrecidas": ""
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "n-24",
      "name": "Guardar Match Pendiente",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2896,
        960
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9NvEcPkNdH6i0j3L",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ACTUALIZAR LEAD. Actualizar campos (etapa, score, vendedor_asignado, etc) del lead actual.",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', 'L-XXX', 'string') }}",
            "etapa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('etapa', 'Nuevo/Calificado IA/Visita agendada/En espera de stock/Negociación', 'string') }}",
            "score": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('score', '0-100', 'number') }}",
            "vendedor_asignado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vendedor_asignado', 'E-X', 'string') }}",
            "operacion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('operacion', 'venta/alquiler', 'string') }}",
            "tipo_propiedad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo_propiedad', 'casa/departamento/...', 'string') }}",
            "zona_pref": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('zona_pref', 'Palihue/...', 'string') }}",
            "ambientes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ambientes', '0-10', 'number') }}",
            "presupuesto_min": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('presupuesto_min', '0', 'number') }}",
            "presupuesto_max": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('presupuesto_max', '0', 'number') }}",
            "moneda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('moneda', 'USD/ARS', 'string') }}",
            "forma_pago": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('forma_pago', 'cash/credito/mixto/vende_otra', 'string') }}",
            "urgencia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urgencia', 'alta/media/baja', 'string') }}",
            "ultima_intencion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ultima_intencion', 'resumen', 'string') }}",
            "notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('notas', 'notas', 'string') }}",
            "actualizado_en": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "n-25",
      "name": "Actualizar Lead CRM",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        3072,
        1056
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9NvEcPkNdH6i0j3L",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "from": "=+14155238886",
        "to": "=+5492915512515",
        "toWhatsapp": true,
        "message": "={{ $fromAI(\"mensaje\", \"Mensaje completo formato VISITA AGENDADA PARA LAS HH:MM CON [CLIENTE] EN [DIRECCION]\", \"string\") }}",
        "options": {}
      },
      "id": "n-26",
      "name": "Avisar Vendedor por WhatsApp Twilio",
      "type": "n8n-nodes-base.twilioTool",
      "typeVersion": 1,
      "position": [
        2864,
        432
      ],
      "credentials": {
        "twilioApi": {
          "id": "HR5fS1GSOu06duuX",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "=+14155238886",
        "to": "+5492915512515",
        "toWhatsapp": true,
        "message": "={{ $(\"Vendedor CORE\").item.json.output }}",
        "options": {}
      },
      "id": "n-29",
      "name": "Responder al Cliente Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        3072,
        128
      ],
      "credentials": {
        "twilioApi": {
          "id": "HR5fS1GSOu06duuX",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "id": "n-30",
      "name": "OK al Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3312,
        128
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ $json[\"lead_id\"] }}",
            "nombre": "={{ $json[\"nombre\"] }}",
            "telefono": "={{ $json[\"telefono\"] }}",
            "email": "={{ $json[\"email\"] }}",
            "canal": "={{ $json[\"canal\"] }}",
            "operacion": "={{ $json[\"operacion\"] }}",
            "tipo_propiedad": "={{ $json[\"tipo_propiedad\"] }}",
            "zona_pref": "={{ $json[\"zona_pref\"] }}",
            "ambientes": "={{ $json[\"ambientes\"] }}",
            "presupuesto_min": "={{ $json[\"presupuesto_min\"] }}",
            "presupuesto_max": "={{ $json[\"presupuesto_max\"] }}",
            "moneda": "={{ $json[\"moneda\"] }}",
            "forma_pago": "={{ $json[\"forma_pago\"] }}",
            "urgencia": "={{ $json[\"urgencia\"] }}",
            "score": "={{ $json[\"score\"] }}",
            "etapa": "={{ $json[\"etapa\"] }}",
            "vendedor_asignado": "={{ $json[\"vendedor_asignado\"] }}",
            "ultima_intencion": "={{ $json[\"ultima_intencion\"] }}",
            "notas": "={{ $json[\"notas\"] }}",
            "creado_en": "={{ $json[\"creado_en\"] }}",
            "actualizado_en": "={{ $json[\"actualizado_en\"] }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sheet-sheet-sync-lead",
      "name": "Upsert Lead CRM",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1568,
        224
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9NvEcPkNdH6i0j3L",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msg_id": "={{ $('Merge Caminos').item.json.msg_id }}",
            "lead_id": "={{ $('Merge Caminos').item.json.lead_id }}",
            "telefono": "={{ $('Merge Caminos').item.json.telefono }}",
            "canal": "={{ $('Merge Caminos').item.json.canal }}",
            "direccion": "in",
            "mensaje": "={{ $('Merge Caminos').item.json.mensaje }}",
            "intencion_detectada": "={{ $('Merge Caminos').item.json.msg_type }}",
            "agente_que_respondio": "pending",
            "requiere_humano": "={{ false }}",
            "timestamp": "={{ $('Merge Caminos').item.json.timestamp_iso }}"
          },
          "matchingColumns": [
            "msg_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sheet-sheet-sync-msg-entrante",
      "name": "Log Mensaje Entrante",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1776,
        32
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9NvEcPkNdH6i0j3L",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "msg_id": "={{ \"M-\" + $now.toMillis() + \"-out\" }}",
            "lead_id": "={{ $('Merge Caminos').item.json.lead_id }}",
            "telefono": "={{ $('Merge Caminos').item.json.telefono }}",
            "canal": "whatsapp_twilio",
            "direccion": "out",
            "mensaje": "={{ $('Vendedor CORE').item.json.output }}",
            "intencion_detectada": "response",
            "agente_que_respondio": "Vendedor CORE",
            "requiere_humano": "={{ false }}",
            "timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "msg_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sheet-sheet-sync-msg-saliente",
      "name": "Log Mensaje Saliente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2576,
        128
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9NvEcPkNdH6i0j3L",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "acciones_ia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "accion_id": "={{ \"A-\" + $now.toMillis() }}",
            "tipo": "conversacion_atendida",
            "agente": "Vendedor CORE",
            "lead_id": "={{ $('Merge Caminos').item.json.lead_id }}",
            "resumen": "={{ 'Mensaje ' + ($('Merge Caminos').item.json.msg_type || 'text') + ' atendido via Twilio' }}",
            "detalle": "={{ ($('Vendedor CORE').item.json.output || '').substring(0, 200) }}",
            "resultado": "ok",
            "timestamp": "={{ $now.toISO() }}",
            "tiempo_ahorrado_min": 4
          },
          "matchingColumns": [
            "accion_id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "sheet-sheet-sync-accion",
      "name": "Registrar Accion IA",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2816,
        128
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9NvEcPkNdH6i0j3L",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "leads"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "lead_id",
              "lookupValue": "={{ $json.lead_id }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "id": "gs-buscar-lead",
      "name": "Buscar Lead Existente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        416
      ],
      "retryOnFail": true,
      "waitBetweenTries": 2000,
      "maxTries": 3,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9NvEcPkNdH6i0j3L",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Twilio": {
      "main": [
        [
          {
            "node": "Parsear Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Mensaje": {
      "main": [
        [
          {
            "node": "Switch Tipo Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tipo Mensaje": {
      "main": [
        [
          {
            "node": "Texto - Set Mensaje",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audio - Download Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Imagen - Download Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio - Download Twilio": {
      "main": [
        [
          {
            "node": "Audio - Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio - Whisper": {
      "main": [
        [
          {
            "node": "Audio - Set Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio - Set Mensaje": {
      "main": [
        [
          {
            "node": "Merge Caminos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Imagen - Download Twilio": {
      "main": [
        [
          {
            "node": "Imagen - Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen - Vision": {
      "main": [
        [
          {
            "node": "Imagen - Set Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagen - Set Mensaje": {
      "main": [
        [
          {
            "node": "Merge Caminos",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Texto - Set Mensaje": {
      "main": [
        [
          {
            "node": "Merge Caminos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Caminos": {
      "main": [
        [
          {
            "node": "Buscar Lead Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vendedor CORE": {
      "main": [
        [
          {
            "node": "Log Mensaje Saliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Vendedor CORE": {
      "ai_languageModel": [
        [
          {
            "node": "Vendedor CORE",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memoria Conversacion": {
      "ai_memory": [
        [
          {
            "node": "Vendedor CORE",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SubAgente Calificador": {
      "ai_tool": [
        [
          {
            "node": "Vendedor CORE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT Calificador": {
      "ai_languageModel": [
        [
          {
            "node": "SubAgente Calificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Calificador": {
      "ai_outputParser": [
        [
          {
            "node": "SubAgente Calificador",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SubAgente Matcher": {
      "ai_tool": [
        [
          {
            "node": "Vendedor CORE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT Matcher": {
      "ai_languageModel": [
        [
          {
            "node": "SubAgente Matcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SubAgente Administrativo": {
      "ai_tool": [
        [
          {
            "node": "Vendedor CORE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT Admin": {
      "ai_languageModel": [
        [
          {
            "node": "SubAgente Administrativo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Leer Vendedores Activos": {
      "ai_tool": [
        [
          {
            "node": "Vendedor CORE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear Visita en CRM": {
      "ai_tool": [
        [
          {
            "node": "Vendedor CORE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Match Pendiente": {
      "ai_tool": [
        [
          {
            "node": "Vendedor CORE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Lead CRM": {
      "ai_tool": [
        [
          {
            "node": "Vendedor CORE",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Avisar Vendedor por WhatsApp Twilio": {
      "ai_tool": [
        [
          {
            "node": "SubAgente Administrativo",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Responder al Cliente Twilio": {
      "main": [
        [
          {
            "node": "OK al Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Lead CRM": {
      "main": [
        [
          {
            "node": "Log Mensaje Entrante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Mensaje Entrante": {
      "main": [
        [
          {
            "node": "Vendedor CORE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Mensaje Saliente": {
      "main": [
        [
          {
            "node": "Registrar Accion IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Accion IA": {
      "main": [
        [
          {
            "node": "Responder al Cliente Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead Existente": {
      "main": [
        [
          {
            "node": "Upsert Lead CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Propiedades en Catalogo": {
      "ai_tool": [
        [
          {
            "node": "SubAgente Matcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "54d4c422-940c-4b17-ad50-b9d87670f3a5",
  "activeVersionId": "54d4c422-940c-4b17-ad50-b9d87670f3a5",
  "versionCounter": 343,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-12T12:46:17.382Z",
      "createdAt": "2026-05-12T12:46:17.382Z",
      "role": "workflow:owner",
      "workflowId": "aUMQyupnGJ5IWm5e",
      "projectId": "PNGfYwEth0ahPlvI",
      "project": {
        "updatedAt": "2025-09-26T02:00:37.322Z",
        "createdAt": "2025-09-26T01:59:58.152Z",
        "id": "PNGfYwEth0ahPlvI",
        "name": "Juan Ignacio Lopez <46094470juani@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "7baeb3a3-9444-44a1-8757-2d2bf60106a5"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-16T20:41:57.114Z",
    "createdAt": "2026-05-16T20:41:57.114Z",
    "versionId": "54d4c422-940c-4b17-ad50-b9d87670f3a5",
    "workflowId": "aUMQyupnGJ5IWm5e",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bochile-chat",
          "responseMode": "responseNode",
          "options": {
            "rawBody": false
          }
        },
        "id": "n-1",
        "name": "Webhook Twilio",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          400
        ],
        "webhookId": "bochile-twilio-webhook"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst from_raw = body.From || body.from || '';\nconst profile = body.ProfileName || body.profileName || 'Desconocido';\nconst text_body = body.Body || body.body || '';\nconst num_media = parseInt(body.NumMedia || body.numMedia || '0', 10);\nconst media_url = body.MediaUrl0 || body.mediaUrl0 || '';\nconst media_type = body.MediaContentType0 || body.mediaContentType0 || '';\n\nconst from = from_raw.replace('whatsapp:', '');\n\nlet msg_type = 'text';\nlet mensaje_original = text_body;\nif (num_media > 0 && media_url) {\n  if (media_type.startsWith('audio/')) msg_type = 'audio';\n  else if (media_type.startsWith('image/')) msg_type = 'image';\n  else { msg_type = 'document'; mensaje_original = text_body || '[adjunto recibido]'; }\n}\n\nif (!from || (!text_body && !media_url)) {\n  return [{ json: { skip: true, reason: 'payload_invalido' } }];\n}\n\nconst digits_only = from.replace(/\\D/g, '');\n\nreturn [{ json: {\n  telefono: from,\n  telefono_twilio: from,\n  nombre: profile,\n  mensaje_original: mensaje_original,\n  msg_type: msg_type,\n  media_url: media_url,\n  media_type: media_type,\n  canal: 'whatsapp_twilio',\n  lead_id: 'L-' + digits_only.slice(-10),\n  msg_id: 'M-' + Date.now(),\n  timestamp_iso: new Date().toISOString(),\n  skip: false\n}}];"
        },
        "id": "n-2",
        "name": "Parsear Mensaje",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          400
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.msg_type }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "texto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.msg_type }}",
                      "rightValue": "audio",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "audio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "leftValue": "={{ $json.msg_type }}",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "imagen"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "otro"
          }
        },
        "id": "n-3",
        "name": "Switch Tipo Mensaje",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          448,
          400
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.media_url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "n-4a",
        "name": "Audio - Download Twilio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          160
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "d6HsIalxJkkphlFP",
            "name": "Twilio Basic Auth (Bochile)"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {
            "language": "es"
          }
        },
        "id": "n-5a",
        "name": "Audio - Whisper",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          880,
          208
        ],
        "credentials": {
          "openAiApi": {
            "id": "4mQx97qkHBIhXxu3",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "mensaje",
                "value": "=[AUDIO TRANSCRIPTO] {{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "n-6a",
        "name": "Audio - Set Mensaje",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          208
        ]
      },
      {
        "parameters": {
          "url": "={{ $json.media_url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "n-4b",
        "name": "Imagen - Download Twilio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          352
        ],
        "credentials": {
          "httpBasicAuth": {
            "id": "d6HsIalxJkkphlFP",
            "name": "Twilio Basic Auth (Bochile)"
          }
        }
      },
      {
        "parameters": {
          "resource": "image",
          "operation": "analyze",
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o"
          },
          "text": "Sos un asistente de Inmobiliaria Bochile (Bahia Blanca). Describi BREVEMENTE (1-2 lineas) la foto: si es propiedad (casa/dpto/lote), describi caracteristicas visibles (ambientes, estilo). Si es documento o plano, mencionalo. Si NO es inmobiliario, decilo. NO inventes direcciones ni precios.",
          "inputType": "base64",
          "options": {}
        },
        "id": "n-5b",
        "name": "Imagen - Vision",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          880,
          384
        ],
        "credentials": {
          "openAiApi": {
            "id": "4mQx97qkHBIhXxu3",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "mensaje",
                "value": "=[IMAGEN RECIBIDA] {{ $json.content || $json.text || $json.response }}{{ $('Parsear Mensaje').item.json.mensaje_original ? ' | Caption: ' + $('Parsear Mensaje').item.json.mensaje_original : '' }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "n-6b",
        "name": "Imagen - Set Mensaje",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1104,
          400
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "mensaje",
                "value": "={{ $json.mensaje_original }}",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "n-4c",
        "name": "Texto - Set Mensaje",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          672,
          608
        ]
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "id": "n-7",
        "name": "Merge Caminos",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1296,
          400
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $(\"Merge Caminos\").item.json.mensaje }}",
          "options": {
            "systemMessage": "Sos CAMILA POMERICH, vendedora real de Inmobiliaria Bochile (Bahia Blanca, desde 1970). Tu zona principal: Palihue, Villa Belgrano, Country. Hablas por WhatsApp con clientes como vendedora humana argentina (vos, tono calido directo). Hoy es martes 12/05/2026.\n\nIMPORTANTE: vos SOS la vendedora real. No derivas a otra persona. Cuando coordinas una visita es para vos misma. Hablas siempre en primera persona (\"te paso a buscar\", \"nos vemos en\", \"te llevo a ver\").\n\nOBJETIVO: CALIFICAR -> MATCHEAR -> AGENDAR VISITA. No sos un chat informativo: cerras visitas. La visita la hacés VOS.\n\n============== SUB-AGENTES (TOOLS INTERNOS - invisibles al cliente) ==============\n1. SubAgente Calificador: score 0-100 + datos. Llamar apenas tengas presupuesto + zona + tipo.\n2. SubAgente Matcher: cruza con catalogo. Llamar SOLO con operacion+tipo+zona+presupuesto.\n3. SubAgente Administrativo: escribe CRM + manda brief interno a TU PROPIO numero (recordatorio para preparar la visita). El cliente nunca lo ve.\n\n============== TRIGGERS OBLIGATORIOS ==============\nSi el cliente dice cualquiera de estas frases (o similar) -> escalar INMEDIATO a SubAgente Administrativo con orden AGENDAR:\n- \"A disposicion\", \"me acomodo\", \"cuando puedo ir/verla\"\n- \"agendame\", \"agendamela\", \"dale visita\"\n- \"si quiero ir\", \"me viene bien [dia/hora]\"\n- \"espero confirmacion\", \"sigo esperando\"\n\nPROHIBIDO responder \"te confirmo despues\", \"te aviso pronto\", \"estoy coordinando\" sin haber invocado al Admin en ese mismo turno.\n\n============== FLUJO DE VISITA ==============\n1. Cliente muestra interes -> proponele 2 OPCIONES CONCRETAS de dia/hora (martes-sabado, 10:00-12:00 o 16:00-18:00, NUNCA lunes).\n   Ej: \"Te paso 2 opciones para que te lleve yo a verla: martes 13 a las 11h o jueves 15 a las 17h. Cual te queda mejor?\"\n2. Cliente confirma una opcion -> LLAMAS SubAgente Administrativo con orden:\n   \"AGENDAR. lead_id=<L-XXX>, prop_id=<P-XXX>, cliente_nombre=<nombre>, telefono=<+54...>, direccion=<de la prop>, fecha=YYYY-MM-DD, hora=HH:MM, score=<XX>, presupuesto=<USD/ARS XXX>, zona=<XXX>, tour=<url>, observaciones=<resumen lead>\"\n3. Admin agenda, manda brief a tu numero (recordatorio), actualiza CRM. Devuelve OK.\n4. Confirmas al cliente EN PRIMERA PERSONA: \"Listo! Te confirmo: el <dia> <hora> te paso a buscar / nos vemos en <direccion>. Cualquier cambio avisame. Yo soy Camila :)\"\n\n============== REGLAS DE ORO ==============\n- HABLAS SIEMPRE EN PRIMERA PERSONA. NUNCA digas \"te visita Camila\" o \"te derivo con\". VOS sos Camila.\n- Si NO sabes fecha+hora concreta -> nunca digas \"agendado\". Proponé vos 2 opciones.\n- NUNCA inventes propiedades. Solo el Matcher las trae.\n- NUNCA prometas \"te confirmo despues\" sin agendar. Si falta info, pregunta YA.\n- Cliente dice \"no lunes\" -> registralo y proponé martes en adelante.\n- Audio/imagen: responde natural. No digas \"vi tu audio\".\n- Tema legal/escrituras/tasacion -> marcar requiere_humano=true (Admin pone nota en CRM, no agendas).\n- Cliente furioso: NO discutas, dejas constancia para humano.\n- Respuestas CORTAS (max 4 lineas WhatsApp). Una pregunta clara por vez. Sin markdown.\n- Si el cliente pregunta \"con quien hablo\" -> \"Soy Camila, vendedora de Bochile. Tengo zona Palihue / Villa Belgrano / Country.\"\n\n============== CONTEXTO MULTIMODAL ==============\nSi el mensaje empieza con \"[AUDIO TRANSCRIPTO]\" o \"[IMAGEN]\", el cliente mando voz o foto. Respondele NATURAL.\nFoto de propiedad de la competencia -> agradecele y preguntale que busca.\nFoto de propiedad Bochile -> confirma y avanza."
          }
        },
        "id": "n-11",
        "name": "Vendedor CORE",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          2128,
          176
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o",
            "cachedResultName": "gpt-4o"
          },
          "builtInTools": {},
          "options": {
            "temperature": 0.4
          }
        },
        "id": "n-12",
        "name": "GPT Vendedor CORE",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1504,
          752
        ],
        "credentials": {
          "openAiApi": {
            "id": "4mQx97qkHBIhXxu3",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $(\"Merge Caminos\").item.json.telefono }}",
          "contextWindowLength": 20
        },
        "id": "n-13",
        "name": "Memoria Conversacion",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          1648,
          720
        ]
      },
      {
        "parameters": {
          "toolDescription": "CALIFICADOR. Score 0-100 + datos. Llamar apenas tengas contexto basico.",
          "text": "={{ $fromAI(\"conversacion\", \"Resumen conversacion\", \"string\") }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "CALIFICADOR Bochile. Analiza conversacion, devolve JSON parser.\n\nSCORING:\n- 0-40 FRIO: pregunta vaga, \"solo mirando\".\n- 41-70 TIBIO: intencion clara, faltan datos.\n- 71-100 CALIENTE: presupuesto+urgencia+zona+tipo+forma_pago definidos.\n\nVALIDOS:\n- zona: Palihue|Centro|Universitario|Villa Mitre|Villa Belgrano|Patagonia|Tiro Federal|Villa Don Bosco|Almafuerte|Country\n- operacion: venta|alquiler|alquiler_temporario\n- tipo: casa|departamento|ph|lote|local|oficina\n- moneda: USD|ARS\n- urgencia: alta|media|baja\n- forma_pago: cash|credito|mixto|vende_otra\n- listo_para_visita: true SOLO si score>=70 Y zona Y presupuesto Y tipo\n\nFalta dato: null o \"\". NO inventes. Devolve EXCLUSIVAMENTE el JSON del parser."
          }
        },
        "id": "n-14",
        "name": "SubAgente Calificador",
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          1856,
          608
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {
            "temperature": 0.1
          }
        },
        "id": "n-15",
        "name": "GPT Calificador",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1824,
          880
        ],
        "credentials": {
          "openAiApi": {
            "id": "4mQx97qkHBIhXxu3",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\"score\":85,\"etapa\":\"Calificado IA\",\"operacion\":\"venta\",\"tipo\":\"casa\",\"zona\":\"Palihue\",\"ambientes\":4,\"presupuesto_min\":250000,\"presupuesto_max\":300000,\"moneda\":\"USD\",\"forma_pago\":\"mixto\",\"urgencia\":\"alta\",\"razon\":\"...\",\"listo_para_visita\":true,\"requiere_humano\":false}"
        },
        "id": "n-16",
        "name": "Parser Calificador",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.3,
        "position": [
          2048,
          880
        ]
      },
      {
        "parameters": {
          "toolDescription": "MATCHER. Cruza criterios con catalogo. Hasta 3 props o SIN_STOCK. Llamar SOLO con operacion+tipo+zona+presupuesto.",
          "text": "={{ $fromAI(\"criterios\", \"JSON criterios\", \"string\") }}",
          "options": {
            "systemMessage": "Sos el sub-agente MATCHER de Bochile. Tu UNICA tarea: buscar propiedades del catalogo real usando la herramienta `search_catalog`.\n\nREGLA: cada vez que te llamen, invocas search_catalog UNA VEZ con TODOS los parametros que puedas extraer del lead:\n- query: descripcion natural en español completa (ej. \"casa familiar 3 ambientes en barrio Centro Bahia Blanca hasta 200000 USD\")\n- operation: \"sale\" para venta, \"rent\" para alquiler\n- property_type: casa, departamento, ph, duplex, lote, local, oficina, cochera, campo, galpon\n- price_max: numero entero (300000, no \"300k\")\n- price_currency: \"USD\" o \"ARS\"\n- bedrooms_min: numero entero (3 si dijo \"3 ambientes\")\n\nDESPUES de recibir resultado:\n- Si dice \"PROPIEDADES_ENCONTRADAS\": devolve al CORE las 3 mejores con formato:\n  PROP_1: prop_id | titulo | precio + moneda | barrio/zona | ambientes | m2 | URL\n  PROP_2: ...\n- Si dice \"SIN_STOCK\": devolve \"SIN_STOCK + <criterios>\" al CORE para que active match_pendiente.\n- NUNCA inventes propiedades. NUNCA modifiques datos. NUNCA respondas sin haber llamado a search_catalog."
          }
        },
        "id": "n-17",
        "name": "SubAgente Matcher",
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          2176,
          784
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {
            "temperature": 0.2
          }
        },
        "id": "n-18",
        "name": "GPT Matcher",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          2176,
          1040
        ],
        "credentials": {
          "openAiApi": {
            "id": "4mQx97qkHBIhXxu3",
            "name": "OpenAi account"
          }
        }
      },
      {
        "id": "n-19",
        "name": "Buscar Propiedades en Catalogo",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          2368,
          608
        ],
        "parameters": {
          "name": "search_catalog",
          "description": "Busca propiedades en el catalogo real de Bochile (Qdrant + filtros estrictos). Devuelve hasta 5 propiedades que cumplen TODOS los filtros, o SIN_STOCK. NUNCA inventa.",
          "workflowId": {
            "__rl": true,
            "value": "6Dk2umeJDNViv9yb",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $fromAI('query', 'Descripcion natural en español de lo que busca el lead, ej: casa familiar 3 ambientes en Palihue con quincho hasta 300 mil USD', 'string') }}",
              "operation": "={{ $fromAI('operation', 'sale o rent. sale para venta, rent para alquiler. Vacio si no se sabe', 'string') }}",
              "property_type": "={{ $fromAI('property_type', 'casa, departamento, ph, duplex, lote, local, oficina, cochera, campo o galpon. Vacio si no se sabe', 'string') }}",
              "price_max": "={{ $fromAI('price_max', 'Presupuesto maximo numero entero. Si dijo 300k poner 300000', 'number') }}",
              "price_currency": "={{ $fromAI('price_currency', 'USD o ARS. Default USD para venta', 'string') }}",
              "bedrooms_min": "={{ $fromAI('bedrooms_min', 'Cantidad minima de ambientes', 'number') }}"
            },
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "required": true,
                "type": "string"
              },
              {
                "id": "operation",
                "displayName": "operation",
                "required": false,
                "type": "string"
              },
              {
                "id": "property_type",
                "displayName": "property_type",
                "required": false,
                "type": "string"
              },
              {
                "id": "price_max",
                "displayName": "price_max",
                "required": false,
                "type": "number"
              },
              {
                "id": "price_currency",
                "displayName": "price_currency",
                "required": false,
                "type": "string"
              },
              {
                "id": "bedrooms_min",
                "displayName": "bedrooms_min",
                "required": false,
                "type": "number"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      },
      {
        "parameters": {
          "toolDescription": "ADMIN. Escribe CRM, notifica vendedor. AGENDAR / GUARDAR match / ACTUALIZAR lead.",
          "text": "={{ $fromAI(\"orden\", \"Que hacer + datos\", \"string\") }}",
          "options": {
            "systemMessage": "ADMIN Bochile. Brazo operativo de Camila Pomerich. Unico que escribe CRM y manda brief a Camila al WhatsApp.\n\nA) AGENDAR (cuando Camila confirma visita con cliente):\n1. 'Leer Vendedores Activos' -> SIEMPRE elegir a \"Camila Pomerich\" (vendedor_id=E-1B). Si la lista la trae con otro nombre, igual usa E-1B Camila Pomerich.\n2. 'Crear Visita en CRM' con vendedor_id='E-1B' vendedor_nombre='Camila Pomerich'.\n3. 'Avisar Vendedor por WhatsApp Twilio' con mensaje EXACTO formato (es el BRIEF interno para que Camila tenga el lead a mano):\n   \"BRIEF VISITA. Cliente: [NOMBRE] (tel +54...). Dia: [DD/MM] [HH:MM]. Direccion: [DIRECCION]. Prop: [P-XXX]. Score: XX. Presupuesto: USD/ARS XXX. Zona: XXX. Tour: <url>. Notas: ...\"\n   SIEMPRE incluir tel cliente +54XXXXXXXXXXX para que pueda contactarlo si hace falta.\n4. 'Actualizar Lead CRM' etapa='Visita agendada' vendedor_asignado='E-1B'.\n\nB) GUARDAR MATCH PENDIENTE: 'Guardar Match Pendiente' + 'Actualizar Lead CRM' etapa='En espera de stock'.\nC) ACTUALIZAR LEAD: 'Actualizar Lead CRM'.\n\nREGLAS:\n- NUNCA agendes sin fecha+hora confirmadas.\n- WhatsApp: telefonos con prefijo +54 (sin 'whatsapp:').\n- requiere_humano=true -> update CRM con nota, no avisar.\n\nDevolve resumen plano."
          }
        },
        "id": "n-20",
        "name": "SubAgente Administrativo",
        "type": "@n8n/n8n-nodes-langchain.agentTool",
        "typeVersion": 3,
        "position": [
          2576,
          288
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini",
            "cachedResultName": "gpt-4o-mini"
          },
          "builtInTools": {},
          "options": {
            "temperature": 0.1
          }
        },
        "id": "n-21",
        "name": "GPT Admin",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          2448,
          400
        ],
        "credentials": {
          "openAiApi": {
            "id": "4mQx97qkHBIhXxu3",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "VENDEDORES. Devuelve todos los empleados activos.",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "empleados"
          },
          "options": {}
        },
        "id": "n-22",
        "name": "Leer Vendedores Activos",
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          2544,
          736
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 3,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9NvEcPkNdH6i0j3L",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "CREAR VISITA. Insertar nueva visita agendada en la tabla visitas.",
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "visitas"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "visita_id": "={{ \"V-\" + $now.toMillis() }}",
              "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', 'L-XXX', 'string') }}",
              "prop_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prop_id', 'P-XXX', 'string') }}",
              "vendedor_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vendedor_id', 'E-X', 'string') }}",
              "vendedor_nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vendedor_nombre', 'nombre', 'string') }}",
              "cliente_nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cliente_nombre', 'nombre', 'string') }}",
              "direccion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('direccion', 'dir', 'string') }}",
              "fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fecha', 'YYYY-MM-DD', 'string') }}",
              "hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hora', 'HH:MM', 'string') }}",
              "estado": "agendada",
              "confirmada_cliente": "={{ true }}",
              "notificada_vendedor": "={{ true }}",
              "recordatorio_enviado": "={{ false }}",
              "observaciones": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('observaciones', 'notas', 'string') }}",
              "creada_en": "={{ $now.toISO() }}"
            },
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "n-23",
        "name": "Crear Visita en CRM",
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          2704,
          848
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 3,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9NvEcPkNdH6i0j3L",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "GUARDAR MATCH. Insertar match pendiente cuando no hay stock para el lead.",
          "operation": "append",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "matches_pendientes"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "match_id": "={{ \"MP-\" + $now.toMillis() }}",
              "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', 'L-XXX', 'string') }}",
              "lead_nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_nombre', 'nombre', 'string') }}",
              "lead_telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_telefono', '+54...', 'string') }}",
              "criterios_json": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('criterios_json', 'JSON criterios', 'string') }}",
              "creado_en": "={{ $now.toISO() }}",
              "estado": "activo",
              "props_ofrecidas": ""
            },
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "n-24",
        "name": "Guardar Match Pendiente",
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          2896,
          960
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 3,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9NvEcPkNdH6i0j3L",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "ACTUALIZAR LEAD. Actualizar campos (etapa, score, vendedor_asignado, etc) del lead actual.",
          "operation": "update",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', 'L-XXX', 'string') }}",
              "etapa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('etapa', 'Nuevo/Calificado IA/Visita agendada/En espera de stock/Negociación', 'string') }}",
              "score": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('score', '0-100', 'number') }}",
              "vendedor_asignado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('vendedor_asignado', 'E-X', 'string') }}",
              "operacion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('operacion', 'venta/alquiler', 'string') }}",
              "tipo_propiedad": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo_propiedad', 'casa/departamento/...', 'string') }}",
              "zona_pref": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('zona_pref', 'Palihue/...', 'string') }}",
              "ambientes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ambientes', '0-10', 'number') }}",
              "presupuesto_min": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('presupuesto_min', '0', 'number') }}",
              "presupuesto_max": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('presupuesto_max', '0', 'number') }}",
              "moneda": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('moneda', 'USD/ARS', 'string') }}",
              "forma_pago": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('forma_pago', 'cash/credito/mixto/vende_otra', 'string') }}",
              "urgencia": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('urgencia', 'alta/media/baja', 'string') }}",
              "ultima_intencion": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ultima_intencion', 'resumen', 'string') }}",
              "notas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('notas', 'notas', 'string') }}",
              "actualizado_en": "={{ $now.toISO() }}"
            },
            "matchingColumns": [
              "lead_id"
            ],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "n-25",
        "name": "Actualizar Lead CRM",
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          3072,
          1056
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 3,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9NvEcPkNdH6i0j3L",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "from": "=+14155238886",
          "to": "=+5492915512515",
          "toWhatsapp": true,
          "message": "={{ $fromAI(\"mensaje\", \"Mensaje completo formato VISITA AGENDADA PARA LAS HH:MM CON [CLIENTE] EN [DIRECCION]\", \"string\") }}",
          "options": {}
        },
        "id": "n-26",
        "name": "Avisar Vendedor por WhatsApp Twilio",
        "type": "n8n-nodes-base.twilioTool",
        "typeVersion": 1,
        "position": [
          2864,
          432
        ],
        "credentials": {
          "twilioApi": {
            "id": "HR5fS1GSOu06duuX",
            "name": "Twilio account"
          }
        }
      },
      {
        "parameters": {
          "from": "=+14155238886",
          "to": "+5492915512515",
          "toWhatsapp": true,
          "message": "={{ $(\"Vendedor CORE\").item.json.output }}",
          "options": {}
        },
        "id": "n-29",
        "name": "Responder al Cliente Twilio",
        "type": "n8n-nodes-base.twilio",
        "typeVersion": 1,
        "position": [
          3072,
          128
        ],
        "credentials": {
          "twilioApi": {
            "id": "HR5fS1GSOu06duuX",
            "name": "Twilio account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "text",
          "responseBody": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Response></Response>",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/xml"
                }
              ]
            }
          }
        },
        "id": "n-30",
        "name": "OK al Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          3312,
          128
        ]
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "leads"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "lead_id": "={{ $json[\"lead_id\"] }}",
              "nombre": "={{ $json[\"nombre\"] }}",
              "telefono": "={{ $json[\"telefono\"] }}",
              "email": "={{ $json[\"email\"] }}",
              "canal": "={{ $json[\"canal\"] }}",
              "operacion": "={{ $json[\"operacion\"] }}",
              "tipo_propiedad": "={{ $json[\"tipo_propiedad\"] }}",
              "zona_pref": "={{ $json[\"zona_pref\"] }}",
              "ambientes": "={{ $json[\"ambientes\"] }}",
              "presupuesto_min": "={{ $json[\"presupuesto_min\"] }}",
              "presupuesto_max": "={{ $json[\"presupuesto_max\"] }}",
              "moneda": "={{ $json[\"moneda\"] }}",
              "forma_pago": "={{ $json[\"forma_pago\"] }}",
              "urgencia": "={{ $json[\"urgencia\"] }}",
              "score": "={{ $json[\"score\"] }}",
              "etapa": "={{ $json[\"etapa\"] }}",
              "vendedor_asignado": "={{ $json[\"vendedor_asignado\"] }}",
              "ultima_intencion": "={{ $json[\"ultima_intencion\"] }}",
              "notas": "={{ $json[\"notas\"] }}",
              "creado_en": "={{ $json[\"creado_en\"] }}",
              "actualizado_en": "={{ $json[\"actualizado_en\"] }}"
            },
            "matchingColumns": [
              "lead_id"
            ],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sheet-sheet-sync-lead",
        "name": "Upsert Lead CRM",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1568,
          224
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 3,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9NvEcPkNdH6i0j3L",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "conversaciones"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "msg_id": "={{ $('Merge Caminos').item.json.msg_id }}",
              "lead_id": "={{ $('Merge Caminos').item.json.lead_id }}",
              "telefono": "={{ $('Merge Caminos').item.json.telefono }}",
              "canal": "={{ $('Merge Caminos').item.json.canal }}",
              "direccion": "in",
              "mensaje": "={{ $('Merge Caminos').item.json.mensaje }}",
              "intencion_detectada": "={{ $('Merge Caminos').item.json.msg_type }}",
              "agente_que_respondio": "pending",
              "requiere_humano": "={{ false }}",
              "timestamp": "={{ $('Merge Caminos').item.json.timestamp_iso }}"
            },
            "matchingColumns": [
              "msg_id"
            ],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sheet-sheet-sync-msg-entrante",
        "name": "Log Mensaje Entrante",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1776,
          32
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 3,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9NvEcPkNdH6i0j3L",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "conversaciones"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "msg_id": "={{ \"M-\" + $now.toMillis() + \"-out\" }}",
              "lead_id": "={{ $('Merge Caminos').item.json.lead_id }}",
              "telefono": "={{ $('Merge Caminos').item.json.telefono }}",
              "canal": "whatsapp_twilio",
              "direccion": "out",
              "mensaje": "={{ $('Vendedor CORE').item.json.output }}",
              "intencion_detectada": "response",
              "agente_que_respondio": "Vendedor CORE",
              "requiere_humano": "={{ false }}",
              "timestamp": "={{ $now.toISO() }}"
            },
            "matchingColumns": [
              "msg_id"
            ],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sheet-sheet-sync-msg-saliente",
        "name": "Log Mensaje Saliente",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2576,
          128
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 3,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9NvEcPkNdH6i0j3L",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "acciones_ia"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "accion_id": "={{ \"A-\" + $now.toMillis() }}",
              "tipo": "conversacion_atendida",
              "agente": "Vendedor CORE",
              "lead_id": "={{ $('Merge Caminos').item.json.lead_id }}",
              "resumen": "={{ 'Mensaje ' + ($('Merge Caminos').item.json.msg_type || 'text') + ' atendido via Twilio' }}",
              "detalle": "={{ ($('Vendedor CORE').item.json.output || '').substring(0, 200) }}",
              "resultado": "ok",
              "timestamp": "={{ $now.toISO() }}",
              "tiempo_ahorrado_min": 4
            },
            "matchingColumns": [
              "accion_id"
            ],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "sheet-sheet-sync-accion",
        "name": "Registrar Accion IA",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2816,
          128
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 3,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9NvEcPkNdH6i0j3L",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "mode": "id",
            "value": "1YChe5KTSiZzeqmdVOaU29k1LfJKY3JXXDDEQiwgeTy4"
          },
          "sheetName": {
            "__rl": true,
            "mode": "name",
            "value": "leads"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "lead_id",
                "lookupValue": "={{ $json.lead_id }}"
              }
            ]
          },
          "options": {
            "returnFirstMatch": true
          }
        },
        "id": "gs-buscar-lead",
        "name": "Buscar Lead Existente",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          1536,
          416
        ],
        "retryOnFail": true,
        "waitBetweenTries": 2000,
        "maxTries": 3,
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9NvEcPkNdH6i0j3L",
            "name": "Google Sheets account"
          }
        },
        "onError": "continueRegularOutput"
      }
    ],
    "connections": {
      "Webhook Twilio": {
        "main": [
          [
            {
              "node": "Parsear Mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsear Mensaje": {
        "main": [
          [
            {
              "node": "Switch Tipo Mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Tipo Mensaje": {
        "main": [
          [
            {
              "node": "Texto - Set Mensaje",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Audio - Download Twilio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Imagen - Download Twilio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Audio - Download Twilio": {
        "main": [
          [
            {
              "node": "Audio - Whisper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Audio - Whisper": {
        "main": [
          [
            {
              "node": "Audio - Set Mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Audio - Set Mensaje": {
        "main": [
          [
            {
              "node": "Merge Caminos",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Imagen - Download Twilio": {
        "main": [
          [
            {
              "node": "Imagen - Vision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Imagen - Vision": {
        "main": [
          [
            {
              "node": "Imagen - Set Mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Imagen - Set Mensaje": {
        "main": [
          [
            {
              "node": "Merge Caminos",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Texto - Set Mensaje": {
        "main": [
          [
            {
              "node": "Merge Caminos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Caminos": {
        "main": [
          [
            {
              "node": "Buscar Lead Existente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vendedor CORE": {
        "main": [
          [
            {
              "node": "Log Mensaje Saliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT Vendedor CORE": {
        "ai_languageModel": [
          [
            {
              "node": "Vendedor CORE",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Memoria Conversacion": {
        "ai_memory": [
          [
            {
              "node": "Vendedor CORE",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "SubAgente Calificador": {
        "ai_tool": [
          [
            {
              "node": "Vendedor CORE",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "GPT Calificador": {
        "ai_languageModel": [
          [
            {
              "node": "SubAgente Calificador",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Parser Calificador": {
        "ai_outputParser": [
          [
            {
              "node": "SubAgente Calificador",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "SubAgente Matcher": {
        "ai_tool": [
          [
            {
              "node": "Vendedor CORE",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "GPT Matcher": {
        "ai_languageModel": [
          [
            {
              "node": "SubAgente Matcher",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "SubAgente Administrativo": {
        "ai_tool": [
          [
            {
              "node": "Vendedor CORE",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "GPT Admin": {
        "ai_languageModel": [
          [
            {
              "node": "SubAgente Administrativo",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Leer Vendedores Activos": {
        "ai_tool": [
          [
            {
              "node": "Vendedor CORE",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Crear Visita en CRM": {
        "ai_tool": [
          [
            {
              "node": "Vendedor CORE",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Match Pendiente": {
        "ai_tool": [
          [
            {
              "node": "Vendedor CORE",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar Lead CRM": {
        "ai_tool": [
          [
            {
              "node": "Vendedor CORE",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Avisar Vendedor por WhatsApp Twilio": {
        "ai_tool": [
          [
            {
              "node": "SubAgente Administrativo",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Responder al Cliente Twilio": {
        "main": [
          [
            {
              "node": "OK al Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert Lead CRM": {
        "main": [
          [
            {
              "node": "Log Mensaje Entrante",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Mensaje Entrante": {
        "main": [
          [
            {
              "node": "Vendedor CORE",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Mensaje Saliente": {
        "main": [
          [
            {
              "node": "Registrar Accion IA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Registrar Accion IA": {
        "main": [
          [
            {
              "node": "Responder al Cliente Twilio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Lead Existente": {
        "main": [
          [
            {
              "node": "Upsert Lead CRM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Propiedades en Catalogo": {
        "ai_tool": [
          [
            {
              "node": "SubAgente Matcher",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Juan Ignacio Lopez",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-16T20:41:57.307Z",
        "id": 466,
        "workflowId": "aUMQyupnGJ5IWm5e",
        "versionId": "54d4c422-940c-4b17-ad50-b9d87670f3a5",
        "event": "activated",
        "userId": "7baeb3a3-9444-44a1-8757-2d2bf60106a5"
      },
      {
        "createdAt": "2026-05-16T20:41:57.252Z",
        "id": 465,
        "workflowId": "aUMQyupnGJ5IWm5e",
        "versionId": "54d4c422-940c-4b17-ad50-b9d87670f3a5",
        "event": "deactivated",
        "userId": "7baeb3a3-9444-44a1-8757-2d2bf60106a5"
      }
    ]
  }
}