04_INFRAESTRUCTURA_TECNICA/Sistema_n8n/exports/W2_Recordatorios_Visitas.json
{
  "name": "Bochile - Recordatorios de Visitas (cron)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "n2-1",
      "name": "Cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "UJOWnNg9k0BdMMJP",
          "cachedResultName": "bochile_visitas"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "estado",
              "keyValue": "agendada"
            },
            {
              "keyName": "recordatorio_enviado",
              "keyValue": "false"
            }
          ]
        },
        "returnAll": true
      },
      "id": "n2-2",
      "name": "Visitas pendientes recordatorio",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "pfACps5XOWJo7UME",
          "cachedResultName": "bochile_empleados"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "empleado_id",
              "keyValue": "={{ $json.vendedor_id }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "n2-3",
      "name": "Datos del Vendedor",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "UGNAXqPUX0udDRPi",
          "cachedResultName": "bochile_leads"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "lead_id",
              "keyValue": "={{ $(\"Visitas pendientes recordatorio\").item.json.lead_id }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "n2-4",
      "name": "Datos del Lead",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        672,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const out = [];\nconst ahora = new Date();\nconst visitas = $(\"Visitas pendientes recordatorio\").all();\nconst vendedores = $(\"Datos del Vendedor\").all();\nconst leads = $(\"Datos del Lead\").all();\nfor (let i = 0; i < visitas.length; i++) {\n  const v = visitas[i].json;\n  const vendedor = vendedores[i] ? vendedores[i].json : {};\n  const lead = leads[i] ? leads[i].json : {};\n  if (!v.fecha || !v.hora) continue;\n  const [hh, mm] = String(v.hora).split(\":\").map(Number);\n  const fechaVisita = new Date(v.fecha + \"T00:00:00\");\n  fechaVisita.setHours(hh || 0, mm || 0, 0, 0);\n  const diffMin = (fechaVisita - ahora) / 60000;\n  let tipo = null;\n  if (diffMin > 1380 && diffMin <= 1500) tipo = \"24h\";\n  else if (diffMin > 30 && diffMin <= 90) tipo = \"1h\";\n  if (!tipo) continue;\n  const telCliente = String(lead.telefono || \"\").replace(/\\D/g, \"\");\n  const telVendedor = String(vendedor.telefono || \"\").replace(/\\D/g, \"\");\n  const msgCliente = tipo === \"24h\" ? `Hola ${v.cliente_nombre}! Visita manana ${v.fecha} a las ${v.hora} hs en ${v.direccion} con ${v.vendedor_nombre}.` : `Hola ${v.cliente_nombre}! En 1 hora te esperamos en ${v.direccion}.`;\n  const msgVendedor = tipo === \"24h\" ? `Manana ${v.hora} hs VISITA con ${v.cliente_nombre} en ${v.direccion}.` : `VISITA EN 1 HORA - ${v.cliente_nombre} - ${v.direccion} - ${v.hora} hs.`;\n  out.push({ json: { visita_id: v.visita_id, lead_id: v.lead_id, telefono_cliente: telCliente, telefono_vendedor: telVendedor, msg_cliente: msgCliente, msg_vendedor: msgVendedor, tipo_recordatorio: tipo, cliente_nombre: v.cliente_nombre, vendedor_nombre: v.vendedor_nombre, direccion: v.direccion, fecha: v.fecha, hora: v.hora } });\n}\nreturn out;"
      },
      "id": "n2-5",
      "name": "Filtrar y armar mensajes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "from": "=+14155238886",
        "to": "=+{{ $json.telefono_cliente }}",
        "toWhatsapp": true,
        "message": "={{ $json.msg_cliente }}",
        "options": {}
      },
      "id": "n2-6",
      "name": "WhatsApp Cliente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "webhookId": "6fd66376-0dca-4adf-b139-f789b05c5b14",
      "credentials": {
        "twilioApi": {
          "id": "HR5fS1GSOu06duuX",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "=+14155238886",
        "to": "=+{{ $(\"Filtrar y armar mensajes\").item.json.telefono_vendedor }}",
        "toWhatsapp": true,
        "message": "={{ $(\"Filtrar y armar mensajes\").item.json.msg_vendedor }}",
        "options": {}
      },
      "id": "n2-7",
      "name": "WhatsApp Vendedor",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1344,
        0
      ],
      "webhookId": "f7fd5f0c-6dae-4a49-947d-b1b1da8ce36f",
      "credentials": {
        "twilioApi": {
          "id": "HR5fS1GSOu06duuX",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "UJOWnNg9k0BdMMJP",
          "cachedResultName": "bochile_visitas"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "visita_id",
              "keyValue": "={{ $(\"Filtrar y armar mensajes\").item.json.visita_id }}"
            }
          ]
        },
        "columns": "{{ ({ \"mappingMode\": \"defineBelow\", \"value\": { \"recordatorio_enviado\": true, \"notificada_vendedor\": true }, \"matchingColumns\": [\"visita_id\"], \"schema\": [] }) }}",
        "options": {}
      },
      "id": "n2-8",
      "name": "Marcar recordatorio enviado",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1568,
        0
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "XeXT6GunMsOgpGa2",
          "cachedResultName": "bochile_acciones_ia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "accion_id": "={{ \"AC-\" + $now.toMillis() }}",
            "tipo": "={{ $json.tipo || \"recordatorio\" }}",
            "agente": "Cron Recordatorios",
            "lead_id": "={{ $json.lead_id || \"\" }}",
            "resumen": "={{ \"Recordatorio enviado \" + ($json.tipo || \"\") + \" - visita \" + ($json.visita_id || \"\") }}",
            "detalle": "={{ \"Cliente: \" + ($json.cliente_nombre || \"\") + \" | Vendedor: \" + ($json.vendedor_nombre || \"\") + \" | Fecha: \" + ($json.fecha || \"\") + \" \" + ($json.hora || \"\") }}",
            "resultado": "ok",
            "timestamp": "={{ $now.toISO() }}",
            "tiempo_ahorrado_min": 5
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "n2-9",
      "name": "Log accion recordatorio",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1792,
        0
      ]
    }
  ],
  "connections": {
    "Cada hora": {
      "main": [
        [
          {
            "node": "Visitas pendientes recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Visitas pendientes recordatorio": {
      "main": [
        [
          {
            "node": "Datos del Vendedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del Vendedor": {
      "main": [
        [
          {
            "node": "Datos del Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos del Lead": {
      "main": [
        [
          {
            "node": "Filtrar y armar mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar y armar mensajes": {
      "main": [
        [
          {
            "node": "WhatsApp Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Cliente": {
      "main": [
        [
          {
            "node": "WhatsApp Vendedor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Vendedor": {
      "main": [
        [
          {
            "node": "Marcar recordatorio enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar recordatorio enviado": {
      "main": [
        [
          {
            "node": "Log accion recordatorio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Cada hora": {
      "recurrenceRules": []
    }
  }
}