04_INFRAESTRUCTURA_TECNICA/Sistema_n8n/exports/W3_Match_Retroactivo.json
{
  "name": "Bochile - Match Retroactivo (cron)",
  "nodes": [
    {
      "id": "n3-1",
      "name": "Cada 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "n3-2",
      "name": "Propiedades publicadas recientes",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "UlHoNXfh9nX5W8vn",
          "cachedResultName": "bochile_propiedades"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "publicada",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "estado",
              "condition": "eq",
              "keyValue": "nueva"
            }
          ]
        },
        "returnAll": true
      },
      "alwaysOutputData": true
    },
    {
      "id": "n3-3",
      "name": "Matches pendientes activos",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "X1djtSSRbpiiNMTk",
          "cachedResultName": "bochile_matches_pendientes"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "activo",
              "condition": "eq",
              "keyValue": "true"
            }
          ]
        },
        "returnAll": true
      },
      "alwaysOutputData": true
    },
    {
      "id": "n3-4",
      "name": "Cruzar prop x match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const props = $(\"Propiedades publicadas recientes\").all().map(i => i.json);\nconst matches = $(\"Matches pendientes activos\").all().map(i => i.json);\nconst out = [];\nfor (const p of props) {\n  for (const m of matches) {\n    if (p.operacion !== m.operacion) continue;\n    if (p.tipo !== m.tipo) continue;\n    if (m.zona && p.zona && m.zona.toLowerCase() !== p.zona.toLowerCase()) continue;\n    if (p.moneda !== m.moneda) continue;\n    if (m.ambientes_min && p.ambientes < m.ambientes_min) continue;\n    if (m.presupuesto_max && p.precio > m.presupuesto_max * 1.05) continue;\n    if (m.presupuesto_min && p.precio < m.presupuesto_min * 0.9) continue;\n    let scoreMatch = 60;\n    if (p.zona && m.zona && p.zona.toLowerCase() === m.zona.toLowerCase()) scoreMatch += 15;\n    if (p.precio <= m.presupuesto_max) scoreMatch += 10;\n    if (p.ambientes >= (m.ambientes_min || 0)) scoreMatch += 5;\n    const telefono = String(m.lead_telefono || \"\").replace(/\\D/g, \"\");\n    const monedaSimbolo = p.moneda === \"USD\" ? \"USD\" : \"$\";\n    const mensaje = `Hola ${m.lead_nombre}! Soy Camila de Bochile. Justo ingreso: ${p.titulo} en ${p.direccion}, ${monedaSimbolo} ${Number(p.precio).toLocaleString(\"es-AR\")}. Tour: ${p.tour_360_url || \"\"}. La queres ver?`;\n    out.push({ json: { match_id: m.match_id, prop_id: p.prop_id, lead_id: m.lead_id, lead_nombre: m.lead_nombre, telefono, mensaje, score_match: scoreMatch, titulo: p.titulo } });\n  }\n}\nreturn out;"
      }
    },
    {
      "id": "n3-5",
      "name": "WhatsApp Aviso al Lead",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "parameters": {
        "operation": "send",
        "from": "=+14155238886",
        "to": "=+{{ $json.telefono }}",
        "toWhatsapp": true,
        "message": "={{ $json.mensaje }}"
      },
      "credentials": {
        "twilioApi": {
          "id": "HR5fS1GSOu06duuX",
          "name": "Twilio account"
        }
      }
    },
    {
      "id": "n3-6",
      "name": "Desactivar match",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "X1djtSSRbpiiNMTk",
          "cachedResultName": "bochile_matches_pendientes"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "match_id",
              "condition": "eq",
              "keyValue": "={{ $(\"Cruzar prop x match\").item.json.match_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "activo": "={{ false }}"
          },
          "matchingColumns": [
            "match_id"
          ],
          "schema": []
        }
      }
    },
    {
      "id": "n3-7",
      "name": "Lead vuelve a Calificado IA",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1344,
        0
      ],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "UGNAXqPUX0udDRPi",
          "cachedResultName": "bochile_leads"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "lead_id",
              "condition": "eq",
              "keyValue": "={{ $(\"Cruzar prop x match\").item.json.lead_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "etapa": "Calificado IA",
            "actualizado_en": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "lead_id"
          ],
          "schema": []
        }
      }
    },
    {
      "id": "n3-8",
      "name": "Marcar prop como ofrecida",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1568,
        0
      ],
      "parameters": {
        "resource": "row",
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "UlHoNXfh9nX5W8vn",
          "cachedResultName": "bochile_propiedades"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "prop_id",
              "condition": "eq",
              "keyValue": "={{ $(\"Cruzar prop x match\").item.json.prop_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "estado": "ofrecida"
          },
          "matchingColumns": [
            "prop_id"
          ],
          "schema": []
        }
      }
    },
    {
      "id": "n3-9",
      "name": "Log Match Retroactivo",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1792,
        0
      ],
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "XeXT6GunMsOgpGa2",
          "cachedResultName": "bochile_acciones_ia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "accion_id": "={{ \"A-\" + $now.toMillis() }}",
            "tipo": "match_retroactivo",
            "agente": "Cron Matcher",
            "lead_id": "={{ $(\"Cruzar prop x match\").item.json.lead_id }}",
            "resumen": "Match notificado",
            "detalle": "={{ \"Prop \" + $(\"Cruzar prop x match\").item.json.prop_id }}",
            "resultado": "notificado",
            "tiempo_ahorrado_min": "={{ 15 }}",
            "timestamp": "={{ $now.toISO() }}"
          },
          "matchingColumns": [],
          "schema": []
        }
      }
    }
  ],
  "connections": {
    "Cada 15 min": {
      "main": [
        [
          {
            "node": "Propiedades publicadas recientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Propiedades publicadas recientes": {
      "main": [
        [
          {
            "node": "Matches pendientes activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matches pendientes activos": {
      "main": [
        [
          {
            "node": "Cruzar prop x match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cruzar prop x match": {
      "main": [
        [
          {
            "node": "WhatsApp Aviso al Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Aviso al Lead": {
      "main": [
        [
          {
            "node": "Desactivar match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Desactivar match": {
      "main": [
        [
          {
            "node": "Lead vuelve a Calificado IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead vuelve a Calificado IA": {
      "main": [
        [
          {
            "node": "Marcar prop como ofrecida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar prop como ofrecida": {
      "main": [
        [
          {
            "node": "Log Match Retroactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Cada 15 min": {
      "recurrenceRules": []
    }
  }
}